name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: |
          Version to release. Must be greater than the last version.
        required: true

jobs:
  release:
    name: "release '${{ github.event.inputs.version }}'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0

      - name: set-version
        run: .github/scripts/set_version.sh "${{ github.event.inputs.version }}"

      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: version.go
          default_author: github_actions
          message: "Release ${{ env.VERSION }}"
          push: true
          tag: "${{ env.VERSION }}"

      - uses: softprops/action-gh-release@v1
        with:
          name: "${{ env.VERSION }}"
          tag_name: "${{ env.VERSION }}"
          generate_release_notes: true
